{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{{title}}{% endblock title %}</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gayathri:wght@100&display=swap" rel="stylesheet">
    <link type = "text/css" rel = "stylesheet" href = "{% static 'css/main.css' %}">
</head>
<body>
    {% include "bases/menu.html" %}
    <header><h1>{% block header %}{{title}}{% endblock header %}</h1></header>
    <content>{% block content%}<p>Some text</p>{% endblock content %}</content>
</body>
</html>
