<table class='table_view'>
    <thead>
    {% for field_title in field_titles%}
    <th>{{field_title}}</th>
    {% endfor %}
    </thead>

    <tbody>
    {% for item in items%}
    {% comment %} For link to product card on tr tag. Need refactor for using dict. {% endcomment %}
    
        <tr onclick="location.href='/inventory/{{item.0}}'" type='button'>
            {% for value in item%}
                <td>{{value}}</td>
            {% endfor %}
        </tr>
    {% endfor %}
    {% comment %} <h3>Items:</h3>{{items}} {% endcomment %}
    </tbody>

</table>