/*____________________ global ____________________ */
body {
    margin: 0;
    padding: 0;
    display: grid;
    height: 100vh;
    grid-template: 80px calc(100vh - 80px) / 80px 1fr;
    font-family: 'Gayathri', sans-serif;
    font-size: 16pt;

    position:sticky;
    top:-1px;
}

h1, h2, h3 {
    color: #c5c9ce;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48

}
.material-symbols-outlined.md32 {
    font-size: 32px;
}

/*____________________ menu ____________________ */
menu {
    grid-area: 1 / 1 / span 3/ 1;
    background: #3a5a67;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
}
menu a {
    width: 62px;
    height: 62px;
    text-align: center;
    vertical-align: text-bottom;

    margin-top: 20px;
    background-color: #c5c9ce;
    border-radius: 15px;
    text-decoration: none;
    color: #3a5a67;
}
menu a:hover{
    background-color: #d6e0eb;
}
menu a p {
    margin: auto;
    margin-top: 15px;
}

/*____________________ header ____________________ */
header {
    grid-column: 2;
    border-left: solid 2px #c5c9ce;
    border-bottom: solid 2px #c5c9ce;
    padding: 0;
    background-color: #3a5a67;
    align-content: center;
}
header *{
    margin-block-start: 0;
    margin-block-end: 0;
    margin: 20px 0;
    margin-left: 40px;
    vertical-align:middle;
}

/*____________________ content ____________________ */
content {
    grid-column: 2;
    grid-row: 2;

    background-color: #c5c9ce;
    padding: 10px;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 100px);
    overflow-y: auto;
}

/*____________________ control ____________________ */
.controls {
    background-color: #3a5a67;
    width: 100%;
    height: 80px;
    display: flex;
    flex-flow: row wrap;
}
.controls *{
    margin: 8px 0;
    margin-left: 8px;
}
.controls button {
    background-color: #c5c9ce;
    border: none;
    color: #3a5a67;
    padding: 15px 32px;
    text-align: center;
    text-decoration:solid;
    display: inline-block;
    font-size: 24px;
}
.controls button:hover {
    background-color: #d6e0eb;
    cursor: pointer;
}

/*____________________ table ____________________ */

.table_view {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    margin: 10px;
    max-width: calc(100% - 20px);
}
.table_view td, th{
    border: 1px solid #ddd;
    padding: 8px;
}  
.table_view tr:nth-child(even){
    background-color: #f2f2f2;
}
.table_view tr:hover {
    background-color: #ddd;
}
.table_view th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #3a5a67;
    color: #dde5dd;
}
.table_view thead{
    position: sticky;
    top: -12px;;

}

/*____________________ trunc table ____________________ */
.table_view.truncated {
    max-width: 800px;
}
.table_view.truncated th {
    width:auto;
    min-width: 100px;

}
.table_view.truncated td {
    width: auto;
}
.table_view.truncated tr:nth-child(even){
    background-color: initial;
}
.table_view.truncated tr:hover {
    background-color: initial;
}
