{% extends 'bases/base.html' %}

{% block title%}{{title}}{% endblock title%}
{% block header%}{{title}}{% endblock header%}
{% block content  %}
    <div class='controls'>
        <button onclick="location.href='/inventory/products/';">Products avaliable</button>
        <button onclick="location.href='/inventory/storages/';">Avaliable by storages</button>
    </div>
    {% if 'Products' in title or 'Inventory' in title %}
        {% include "inventory/table_view.html" with field_titles=field_titles items=items %}
    {% else %}
        {% include "inventory/group_view.html" with field_title=field_titles items=items %}
    {% endif %}

{% endblock content  %}
